.bottom {
  margin-bottom: 16px;
}

h3 {
  color: #333;
  font-size: 18px;
  font-weight: bold;
}

h4 {
  color: #ca4f6b;
  font-weight: bold;
  font-size: 20px;
  border-bottom: 1px solid #29b5f5;
  margin-bottom: 16px;
}

strong {
  color: #0657a6;
  font-weight: 700;
}

a {
  color: #0657a6;
}

.list {
  text-indent: 2em;
  li {
    font-size: 16px;
  }
}

.left {
  padding: 0 8px;
  .header {
    text-align: center;
    h1 {
      font-size: 25px;
      font-weight: bold;
      color: #4a4a4a;
    }
    p {
      font-size: 20px;
      color: #4a4a4a;
    }
  }
  .main {
    margin-top: 16px;
    .concat {
      h3 {
        border-bottom: 1px solid #333;
      }
      .content {
        .label {
          display: inline-block;
          min-width: 50px;
        }
      }
    }
  }
}

.right {
  .content {
    p {
      font-size: 16px;
    }
  }
  .work {
    .content {
      h5 {
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
}
