.bottom {
  margin-bottom: 16px;
}

h3 {
  color: #333;
  font-size: 18px;
  font-weight: bold;
}

h4 {
  color: #ca4f6b;
  font-weight: bold;
  font-size: 20px;
  border-bottom: 1px solid #29b5f5;
  margin-bottom: 16px;
}

strong {
  color: #0657a6;
  font-weight: 700;
}

a {
  color: #0657a6;
}

.list {
  text-indent: 2em;
  li {
    font-size: 16px;
  }
}

.left {
  height: 100%;
  padding: 0 8px;
  background-color: #29b5f5;
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    h1 {
      font-size: 25px;
      font-weight: bold;
      color: #4a4a4a;
    }
    p {
      font-size: 20px;
      color: #4a4a4a;
    }
  }
  .main {
    margin-top: 16px;
    margin-left: 16px;
    .concat {
      h3 {
        border-bottom: 1px solid #333;
      }
      .content {
        font-size: 16px;
        .label {
          display: inline-block;
          min-width: 60px;
        }
      }
    }
    .others {
      margin-top: 16px;
      h3 {
        border-bottom: 1px solid #333;
      }
      &-item {
        margin-top: 10px;
        h5 {
          font-size: 17px;
          font-weight: 500;
        }
      }
    }
    .education {
      margin-top: 16px;

      h3 {
        border-bottom: 1px solid #333;
      }
      p {
        font-size: 16px;
        margin-top: 16px;
      }
    }
  }
}

.right {
  .content {
    p {
      font-size: 16px;
    }
  }
  .work {
    .content {
      h5 {
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
  .project {
    .experience-item {
      margin-top: 10px;
      &.zxzj {
        // pdf 预览问题
        // margin-top: 150px;
      }
      .ex-title {
        font-size: 16px;
        font-weight: 600;
      }
      .list {
        margin-left: 2em;
        text-indent: 0;
        li {
          // display: inline-flex;
          // .label {
          //   display: flex;
          //   flex-wrap: nowrap;
          // }
        }
      }
    }
  }
}
